{% extends 'base.html' %}

{% block title %} About Recipes {% endblock %}


{% block body %} 

    <div class="jumbotron" style="background-color: #e3f2fd">
        <h1 class="display-4">About My e-Cookbook</h1>
        <p class="lead">Take your recipes anywhere and easily share your favorite creations with your friends, family or even your future self when you need them.</p>
        <hr class="my-4">
        <p>Find or create your perfect recipe:</p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Search</a>
    </div>
</br>
</br>
</br>
</br>
</br>
</br>


{% endblock %}